*.obj
*.db
*.exe
*.db*
*.cmake
*.tlog
*.log
*.bin
*.vcxproj*
*.sln
*.rule
*.filter
*.stamp
*.depend
*.tcl
*.list
CmakeCache.txt
TargetDirectories.txt
cmake.check_cache

.vscode/*
leetcode2019Q2/build/*
leetcode2019Q2/.vscode/ipch/*
