build/*
.vscode/ipch/*
/CSharpWorkspace/ConsoleApplications/.vs/ConsoleApplications/v15
/CSharpWorkspace/ConsoleApplications/CollectionApp1/obj/Debug
CSharpWorkspace/ConsoleApplications/CollectionApp1/bin/Debug
/CSharpWorkspace/ConsoleApplications/ETLXMLReader/obj/Debug
/CSharpWorkspace/ConsoleApplications/ETLXMLReader/bin/Debug
/CSharpWorkspace/ConsoleApplications/CollectionApp1/obj/Release
/CSharpWorkspace/ConsoleApplications/ETLXMLReader/bin/Release
/CSharpWorkspace/ConsoleApplications/ETLXMLReader/obj/Release
/CSharpWorkspace/ConsoleApplications/LeetCode/obj/Debug
/CSharpWorkspace/ConsoleApplications/LeetCode/bin/Debug
mlworkspace/*.csv

Worksp20/JavaWorkspace/leetcode/target/classes/com/leetcode/*.class
Worksp20/JavaWorkspace/leetcode/target/test-classes/com/leetcode/*.class
Worksp20/JavaWorkspace/leetcode/target/maven-status/maven-compiler-plugin/compile/default-compile/*.lst
